.header-inner {
	background-color: #3A0CA3;
	padding: 12px 0;
}

.header-inner .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-inner .header-logo {
	display: flex;
	align-items: center;
}

.header .header-call,
.header .header-call>a {
	display: flex;
	align-items: center;
}

.header .header-call>a:last-child {
	margin-left: 30px;
}

.header .header-inner__text {
	color: #FFF;
	font-size: 13.3px;
	font-weight: 400;
	line-height: 22px;
}

.header .header-call a>p {
	margin-left: 10px;
}

.header .header-logo>p {
	margin-left: 8px;
}

.header .navbar {
	padding: 15px 0;
}

.header .navbar .container .menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header .navbar .nav {
	display: flex;
	align-items: center;
}

.header .navbar .nav-link {
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	color: #2B2B2B;
	padding: 13px 16px;
	border-radius: 30px;
	transition: all 0.3s linear;
}

.header .navbar .nav-link.active {
	background: rgba(67, 97, 238, 0.30);
}

.header .navbar .nav-link:hover {
	background: rgba(67, 97, 238, 0.30);
}

.header .navbar-logo {
	display: flex;
	align-items: center;
}

.header .house-icon {
	border-radius: 50%;
	background: #3A0CA3;
	width: 50px;
	height: 50px;
	padding: 13px;
}

.header .navbar-logo p {
	margin-left: 8px;
	color: #1E1E1E;
	font-size: 20px;
	font-weight: 600;
}

.header .register-box {
	display: flex;
	align-items: center;
}

.header .add-listing {
	display: flex;
	padding: 15px 26px;
	align-items: center;
	gap: 10px;
	border-radius: 50px;
	background: #3A0CA3;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
}

.header .register-box .register-info {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.header .register-info a {
	color: #2B2B2B;
	font-size: 16px;
	font-weight: 500;
}

/* main start */
.main {
	border-radius: 0px 0px 800px 800px;
	background: linear-gradient(180deg, rgba(76, 201, 240, 0.00) 0%, rgba(67, 97, 238, 0.30) 100%);
	padding-top: 90px;
}

.main .container {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
}

.main .main-box {
	width: 580px;
}

.main .main-left h2 {
	max-width: 580px;
	margin: 30px 0 40px 0;
}

.swiper-button-next {
	right: 0;
	position: relative;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: 'next';
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: var(--swiper-navigation-top-offset, 50%);
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #AAAAAA;
}

.swiper-button-next::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.swiper-button-prev {
	left: 0;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	background: #FFF;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}

.main .main-slider {
	margin-top: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1;
}

.main .swiper-slide {
	height: 340px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	content: 'prev';
}

.main .swiper-pagination {
	bottom: 0;
}

.main .swiper {
	padding-bottom: 27px;
}

.main .swiper-slide {
	max-height: 340px;
	transition: all 0.4s linear;
}

.main .swiper-slide img {
	width: 100%;
	height: 100%;
	border-radius: 22px;
}

.main .swiper-pagination {
	z-index: 10;
	position: absolute;
	bottom: -11px;
}

.main .swiper .swiper-pagination-bullet {
	width: 100px;
	height: 4px;
	background: #dce1f0;
	display: inline-block;
	border-radius: 10px;
	opacity: 1;
}

.main .swiper-pagination-bullet-active {
	background: #4361EE !important;
}

.main .main-tab {
	border-radius: 30px;
	background: #FFF;
	box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
	width: 420px;
	margin-left: 120px;
}

.main .main-tab .tab-header {
	border-bottom: 1px solid #AAA;
	display: flex;
	justify-content: space-between;
}

.main .tab-header a {
	color: #808080;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	width: 150px;
	position: relative;
	padding: 40px 0 29px 0;
	margin: 0 40px;
}

.main .tab-header a.active,
.main .tab-header a.active::before {
	color: #3A0CA3;
	display: block;
}

.main .tab-header a::before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	border: 1px solid #3A0CA3;
	width: 100%;
	border-radius: 50px;
	display: none;
}

.main .tab-content.active-content {
	display: block;
}

.main .tab-header a.active-tabs,
.main .tab-header a.active-tabs::before {
	color: #3A0CA3;
	display: block;
}

.main .tab-content {
	display: none;
	padding: 50px 40px 60px 40px;
	animation: fade 0.5s linear;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.main .tab-content input::placeholder {
	color: rgba(109, 106, 117, 0.50);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.main .tab-content input {
	margin-top: 0 !important;
}

.main .tab-content input,
.main .tab-content select {
	border-radius: 20px;
	border: 0px solid #D4D4D4;
	width: 100%;
	display: block;
	background: rgba(212, 212, 212, 0.20);
	padding: 24px 20px;
	margin-top: 30px;
	-webkit-appearance: none;
	color: rgba(109, 106, 117, 0.50);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.main .tab-content select {
	background-image: url(../images/bottom-arrow.svg);
	background-repeat: no-repeat;
	background-position: 95% center;
}

.main .tab-content .advance-search__box {
	display: flex;
	align-items: center;
	margin: 20px 0 60px 0;
}

.main .advance-search__box p {
	color: #3A0CA3;
	font-size: 13.3px;
	font-weight: 400;
	line-height: 22px;
	margin-left: 10px;
}

.main .seach-btn {
	border-radius: 50px;
	border: 1px solid #BFBDC1;
	background: var(--primary-colour, #3A0CA3);
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px 0;
	justify-content: center;
	cursor: pointer;
}

.main .seach-btn p {
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	margin-left: 10px;
}

.customers {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-top: 60px;
	flex-wrap: wrap;
}

.customers .customers-box {
	border-radius: 50px;
	background: #FFF;
	box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 20px 37px;
}

.parnies {
	margin-top: 68px;
	padding: 50px 0 40px 0;
}

.parnies .container {
	position: relative;
}

.parnies .container::before {
	content: "";
	position: absolute;
	top: -35px;
	left: 65px;
	border-radius: 50%;
	opacity: 0.5;
	width: 100px;
	height: 100px;
	transform: rotate(-30deg);
	background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
}

.parnies p {
	color: #808080;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 60px;
}

.parnies-img {
	display: flex;
	align-items: center;
	gap: 90px;
	justify-content: center;
	overflow-x: scroll;
}

.parnies-img img {
	filter: grayscale(100%);
}

.parnies-img img:hover {
	filter: grayscale(0);
}

/* WhoAreWe component start */
.who-are-we {
	margin-top: 188px;
}

.who-are-we .container {
	display: flex;
}

.who-are-we .lef-box {
	max-width: 500px;
	margin-right: 43px;
}

.who-are-we .lef-box .title-text {
	margin: 40px 0 30px 0;
}

.who-are-we .lef-box .title-paragrph {
	margin-bottom: 40px;
}

.who-are-we .info-box {
	border-radius: 30px;
	background: #FFF;
	box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.06);
	max-width: 400px;
	padding: 30px;
	display: flex;
	gap: 25px;
	margin-bottom: 30px;
}

.who-are-we .info-box:last-child {
	margin-bottom: 0;
}

.who-are-we .info-box h4 {
	color: #4361EE;
	font-size: 19.4px;
	font-weight: 500;
}

.who-are-we .info-box p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.who-are-we .img-box {
	display: flex;
	margin-top: 125px;
	position: relative;
}

.who-are-we .img-box .right-img {
	position: relative;
}

.who-are-we .img-box .right-img::before {
	content: "";
	position: absolute;
	bottom: 70px;
	left: 75px;
	border-radius: 60px;
	opacity: 0.5;
	background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
	width: 60px;
	height: 60px;
	z-index: 10;
	transform: rotate(30deg);
}

.who-are-we .img-box img {
	border-radius: 30px;
}

.who-are-we .right-img {
	margin-left: 20px;
}

.who-are-we .mt {
	margin-top: -47px;
}

.who-are-we .mt-2 {
	margin-top: 20px;
}

.who-are-we .rounded-img {
	position: absolute;
	top: -140px;
	left: 185px;
	z-index: 10;
}


/* News-sec start */
.news-sec {
	margin-top: 200px;
}

.news-sec .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news-sec .title .title-info {
	max-width: 500px;
}

.news-sec .selects-btn {
	display: flex;
	align-items: center;
	gap: 20px;
}

.news-sec .selects-btn button {
	border-radius: 30px;
	border: 1px solid #3A0CA3;
	background: #FFF;
	display: inline-block;
	padding: 19px 30px;
	color: #3A0CA3;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s linear;
}

.news-sec .selects-btn button.active {
	background: #3A0CA3;
	color: #fff;
}

.news-sec .selects-btn button:hover {
	background: #3A0CA3;
	color: #fff;
}

.news-sec .img-box {
	position: relative;
}

.news-sec .img-box .img-info {
	position: absolute;
	bottom: 30px;
	left: 30px;
	border-radius: 20px;
	padding: 10px 24px;
}

.news-sec .img-box .img-info p {
	font-size: 16px;
	font-weight: 500;
}

.news-sec .img-box img {
	width: 100%;
	height: 100%;
}

.news-sec .img-box .img-info__one {
	color: #F11;
	background: #FFE1E1;
}

.news-sec .img-box .img-info__two {
	color: #119BFF;
	background: #D7EEFF;
}

.news-sec .img-box .img-info__three {
	color: #00CE3A;
	background: #F1FFF1;
}

.news-sec .slider-box:last-child {
	margin-right: -150px;
}

.news-sec .slider-box .icons {
	display: flex;
	align-items: center;
	gap: 20px;
}

.news-sec .slider-box .icons .icon-box {
	display: flex;
	align-items: center;
	gap: 10px;
}

.news-sec .slider-box .info h4 {
	color: #2B2B2B;
	font-size: 27.6px;
	font-weight: 600;
	margin-top: 30px;
}

.news-sec .slider-box-big {
	display: flex !important;
	gap: 50px;
	margin-left: 120px;
	overflow-x: scroll;
}

.news-sec .slider-box-big .slider-box {
	width: 340px;
}

.news-sec .title-paragrph {
	margin-bottom: 50px;
}

.news-sec .slider-box .info h6 {
	color: #2B2B2B;
	font-size: 19.4px;
	font-weight: 500;
	margin-top: 10px;
}

.news-sec .tab-content.content {
	display: none;
}

.news-sec .tab-content.active-content {
	display: block;
}

.news-sec .slider-box .info p {
	color: #808080;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin: 10px 0;
}

.news-sec .slider-box .info .icon-box p {
	color: #2B2B2B;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin: 0;
}

.news-sec .title-text {
	margin: 30px 0;
}

.news-sec .slider-box .img-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* Services component start */
.services-sec {
	margin-top: 200px;
	padding: 100px 0 137px 0;
	position: relative;
}

.services-sec::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.30000001192092896;
	background: #D4D4D4;
	z-index: -1;
}

.services-sec .title {
	text-align: center;
}

.services-sec .title h4 {
	color: #2B2B2B;
	text-align: center;
	font-size: 19.4px;
	font-weight: 500;
	letter-spacing: 2.91px;
}

.services-sec .cards {
	display: flex;
	justify-content: space-between;
}

.services-sec .services-card {
	border-radius: 30px;
	background: #FFF;
	box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.03);
	max-width: 340px;
	padding: 60px 0;
	width: 100%;
	text-align: center;
	margin-top: 70px;
}

.services-sec .services-card:hover {
	box-shadow: none;
}

.services-sec .services-card .services-icon {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	background: #4361EE;
	display: inline-block;
	padding: 25px;
	box-shadow: 4px 10px 30px 0px rgba(67, 97, 238, 0.40);
	margin-bottom: 30px;
}

.services-sec .services-card .services-icon img {
	width: 40px;
}

.services-sec .services-card h5 {
	color: #2B2B2B;
	font-size: 19.4px;
	font-weight: 500;
	margin-bottom: 20px;
}

.services-sec .services-card p {
	color: #808080;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	max-width: 220px;
	margin: 0 auto;
}


/* areas-sec start */
.area-sec {
	padding: 210px 0;
	position: relative;
}

.area-sec::before {
	content: "";
	position: absolute;
	top: 61px;
	left: 45%;
	width: 50px;
	height: 50px;
	transform: rotate(30deg);
	border-radius: 50px;
	opacity: 0.5;
	background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
}

.area-sec::after {
	content: "";
	position: absolute;
	bottom: 42px;
	right: 206px;
	width: 100px;
	height: 100px;
	transform: rotate(-30deg);
	border-radius: 100px;
	opacity: 0.5;
	background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
}

.area-sec .title {
	margin-bottom: 80px;
}

.area-sec .area-box {
	position: relative;
}

.area-sec .area-box__info {
	position: absolute;
	bottom: 30px;
	left: 40px;
}

.area-sec .area-box__info h4 {
	color: #FFF;
	text-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.25);
	font-size: 57.3px;
	font-weight: 600;
	line-height: 65px;
}

.area-sec .area-box__info p {
	color: #FFF;
	font-size: 19.4px;
	font-weight: 500;
}

.area-sec .area-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: space-between;
	position: relative;
}

/* our-team start */
.our-team {
	padding-bottom: 180px;
}

.our-team .title {
	margin-bottom: 100px;
	text-align: center;
}

.our-team .our-team__cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.our-team .our-team__cards .team-card {
	text-align: center;
}

.our-team .team-card h5 {
	color: #0B090A;
	font-size: 27.6px;
	font-weight: 600;
	margin: 30px 0 20px 0;
}

.our-team .team-card p {
	color: #4361EE;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

/* trending start */
.trending {
	background: #3A0CA3;
	padding: 110px 0 100px 0;
}

.trending .next-icon {
	margin-top: 30px;
	text-align: right;
	display: block;
}

.trending .title {
	text-align: center;
}

.trending .trending-slider {
	margin-top: 80px;
}

.trending .img-box img {
	width: 100%;
	height: 240px;
}

.trending .swiper-pagination-bullet {
	width: 100px;
	height: 4px;
	background: #9c85d1;
	border-radius: 10px;
}

.trending .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
}

.trending .swiper {
	/* padding-right: 70px; */
}

.trending .calendar p {
	color: #2B2B2B;
	text-align: center;
	font-size: 19.4px;
	font-weight: 500;
	line-height: 16px;
}

.trending .img-box {
	position: relative;
}

.trending .calendar {
	position: absolute;
	top: 0;
	left: 50px;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	background: #FFF;
	box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.trending .calendar span {
	color: #808080;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.trending .title h4 {
	color: #FFF;
	text-align: center;
	font-size: 19.4px;
	font-weight: 500;
	letter-spacing: 2.91px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.trending .title h2 {
	color: #FFF;
	text-align: center;
	font-size: 39.8px;
	font-weight: 600;
	line-height: 47px;
}

.trending .slider-info h3 {
	color: #FFF;
	font-size: 27.6px;
	font-weight: 500;
}

.trending .slider-info p {
	color: #D4D4D4;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

/* testimonals start */
.testimonals {
	padding: 217px 0 180px 0;
}

.testimonals .container .testimonals-sliders {
	display: flex;
	align-items: start;
}

.title-slider h2 {
	margin: 20px 0;
}

.testimonals .title h2,
.testimonals .title p {
	max-width: 415px;
}

.testimonals .slider-box,
.testimonals .title-slider {
	width: 50%;
}

.testimonals .card-box {
	border-radius: 30px;
	background: #FFF;
	max-width: 500px;
	margin: 0 0 0 auto;
	padding: 34px 60px 28px 60px;
	box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.10);
}

.title-slider .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	display: none;
}

.title-slider .swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.title-slider .swiper-button-prev {
	background-image: url(../images/slider-prev.svg);
}

.title-slider .swiper-button-next,
.title-slider .swiper-button-prev {
	margin-top: 100px;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-slider .swiper-button-next {
	background-image: url(../images/slider-next.svg);
	left: 90px;
}

.testimonals .swiper-slide {
	height: 100% !important;
	opacity: 0;
	transition: all 0.5s linear;
}

.testimonals .swiper-pagination-bullet {
	background: #D9D9D9;
	opacity: 1;
	width: 4px;
	height: 40px;
	border-radius: 20px;
}

.testimonals .swiper-pagination-bullet-active {
	background: #808080;
}

.testimonals .swiper {
	height: 385px;
	padding-right: 30px;
}

.testimonals .swiper-slide-active {
	opacity: 1;
}

.testimonals .card-box p {
	color: #2B2B2B;
	font-size: 19.4px;
	font-weight: 500;
	margin: 18px 0 40px 0;
	line-height: 25px;
}

.testimonals .card-box .line {
	height: 1px;
	width: 100%;
	background: #D4D4D4;
	margin-bottom: 20px;
}

.testimonals .slider-box__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.testimonals .slider-box {
	position: relative;
}

.testimonals .slider-box::before {
	content: "";
	position: absolute;
	top: -22px;
	left: 48px;
	border-radius: 60px;
	opacity: 0.5;
	background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
	width: 60px;
	height: 60px;
	transform: rotate(-30deg);
}

.testimonals .slider-box .user-box {
	display: flex;
	align-items: center;
	gap: 15px;
}

.testimonals .slider-box .user-box p {
	margin: 0;
}

.testimonals .agent-sec {
	border-radius: 40px;
	background: #3A0CA3;
	padding: 65px 188px 65px 415px;
	position: relative;
	margin-top: 250px;
}

.testimonals .agent-sec .agent-img img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.testimonals .agent-info__box {
	display: flex;
	align-items: center;
	gap: 85px;
}

.testimonals .agent-info__box h3 {
	color: #FFF;
	font-size: 39.8px;
	font-weight: 600;
	line-height: 47px;
	margin-bottom: 30px;
}

.testimonals .agent-info__box p {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.testimonals .agent-info__box a {
	border-radius: 30px;
	border: 1px solid #3A0CA3;
	background: #FFF;
	padding: 19px 30px;
	color: #3A0CA3;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	white-space: nowrap;
	border: 1px solid transparent;
	transition: all 0.2s linear;
}

.testimonals .agent-info__box a:hover {
	background: #3A0CA3;
	color: white;
	border-color: #fff;
}

/* footer start */
.footer {
	background: #ebeffd;
	padding: 82px 0 98px 0;
}

.footer .container {
	display: flex;
	/* align-items: center; */
}

.footer .logo {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.footer .cal-one {
	margin-top: 48px !important;
}

.footer .logo .logo-icon {
	border-radius: 50px;
	background: #3A0CA3;
	width: 50px;
	padding: 13px;
	height: 50px;
}

.footer .logo p {
	margin-left: 8px;
	color: #2B2B2B;
	font-size: 20px;
	font-weight: 600;
}

.footer .col-lg-3 {
	max-width: 20%;
	margin-right: 121px;
}

.footer .col-lg-3 p {
	color: #2B2B2B;
	font-size: 16px;
	font-weight: 500;
}

.footer .col-lg-3 .cal {
	display: flex;
	gap: 8px;
	margin-top: 30px;
}

.footer ul li {
	color: #2B2B2B;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 26px;
}

.footer ul li:last-child {
	margin-bottom: 0;
}

.footer h4 {
	margin-bottom: 40px;
	color: #0B090A;
	font-size: 19.4px;
	font-weight: 500;
}

.footer .col-lg-4 {
	max-width: 360px;
}

.footer .col-lg-4 h3 {
	color: #0B090A;
	font-size: 19.4px;
	font-weight: 500;
	max-width: 254px;
}

.footer .form-box {
	position: relative;
	width: 350px;
	margin: 21px 0 32px 0;
}

.footer .form-box input {
	width: 100%;
	color: #AAA;
	font-size: 16px;
	font-weight: 400;
	padding: 0 20px;
	line-height: 26px;
	height: 60px;
	border: none;
	border-radius: 10px;
}

.footer .form-box input::placeholder {
	color: #AAA;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.footer .form-box .next-arrow {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	background: var(--primary-colour, #3A0CA3);
}

.footer .social-media {
	margin-top: 30px;
}

.footer-bottom {
	background-color: #0B090A;
	padding: 20px 0;
}

.footer-bottom .container {
	display: flex;
	justify-content: space-between;
}

.footer-bottom ul {
	display: flex;
	gap: 40px;
}

.footer-bottom ul a,
.footer-bottom p {
	color: #AAA;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.bars {
	width: 24px;
	display: none;
}

.close {
	display: none;
	z-index: 202;
	top: 30px;
	right: 30px;
	width: 24px;
	position: absolute;
}

.who-are-we .img-box>img {
	height: 500px;
}

.main .swiper .swiper-button-prev:after,
.main .swiper .swiper-rtl .swiper-button-next:after {
	content: 'prev';
}

.main .swiper .swiper-button-prev:after,
.main .swiper .swiper-button-next:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1;
}

.news-sec .media-btn__box {
	margin: 0 auto;
	display: none;
}

.news-sec .media-btn {
	border-radius: 30px;
	border: 1px solid #3A0CA3;
	background: #FFF;
	padding: 19px 30px;
}

/* meida query */
@media (max-width: 1200px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.main .main-tab {
		margin-left: 50px;
	}

	.main .main-box {
		width: 50%;
	}

	.title-text-xl {
		font-size: 45px !important;
	}

	.main .main-left h2 {
		margin: 20px 0;
	}

	.who-are-we .container {
		flex-wrap: wrap;
	}

	.who-are-we .rounded-img {
		top: -110px;
	}

	.who-are-we .img-box {
		margin-top: 150px;
	}

	.who-are-we .img-box .right-img {
		display: flex;
		flex-direction: column;
	}

	.who-are-we .lef-box {
		max-width: 100%;
	}

	.who-are-we .lef-box {
		margin-right: 0;
	}

	.news-sec .slider-box-big {
		margin-left: 30px;
	}
}

@media (max-width: 992px) {
	.main .main-box {
		width: 100%;
	}

	.main .main-slider {
		max-width: 60%;
		margin: 0 auto;
	}

	.main .main-tab {
		margin-left: 0;
		margin: 0 auto;
	}

	.bars,
	.close {
		display: block;
	}

	.header .navbar .container .menu {
		position: fixed;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		background-color: #D7EEFF;
		width: 100%;
		height: 100vh;
		top: 0;
		left: -100%;
		transition: all 0.3s linear;
		z-index: 200;
		padding: 40px;
	}

	.header .navbar .nav {
		flex-direction: column;
		align-items: start;
		gap: 2rem;
	}

	.header .register-box {
		flex-wrap: wrap;
	}

	.header .media {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header .media .navbar-logo {
		display: block;
	}

	.header .media .navbar-logo .flex-box {
		display: flex;
		align-items: center;
	}

	.header .navbar-logo {
		display: none;
	}

	.news-sec .slider-box-big {
		flex-wrap: wrap;
		margin-right: 30px;
		margin-top: 30px;
	}

	.news-sec .slider-box:last-child {
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.customers .customers-box {
		width: 100%;
	}

	.main .main-left h2 {
		max-width: 100%;
	}
}

@media (max-width: 616px) {
	.header-inner {
		display: none;
	}

	.main .main-slider {
		max-width: 100%;
		margin-top: 46px;
	}
}

@media (max-width: 480px) {
	.blue-title {
		font-size: 16px;
		letter-spacing: 2.4px;
	}

	.title-text-xl {
		line-height: 47px !important;
		font-size: 39px !important;
	}

	.main .main-tab {
		margin-top: 40px;
		max-width: 333px;
	}

	.main .tab-header a {
		padding: 29px 0 20px 0;
	}

	.title-paragrph {
		font-size: 13.3px;
	}

	.main .tab-content {
		padding: 40px 22px 40px 22px;
	}

	.main .tab-content input,
	.main .tab-content select {
		padding: 20px 18px;
		margin-top: 20px;
	}

	.main .tab-content .advance-search__box {
		margin: 15px 0 40px 0;
	}

	.main {
		padding-top: 50px;
	}

	.main .swiper .swiper-pagination-bullet {
		width: 57px;
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: auto !important;
	}

	.parnies .container::before {
		top: -875%;
		left: auto;
		right: 75px;
		width: 50px;
		transform: rotate(0);
		height: 50px;
	}

	.parnies {
		padding-top: 0;
	}

	.who-are-we .lef-box .title-text {
		font-size: 27px;
		line-height: normal;
		margin: 20px 0 30px;
	}

	.who-are-we .info-box {
		max-width: 100%;
	}

	.who-are-we {
		margin-top: 100px;
	}

	.who-are-we .img-box>img {
		width: 170px;
		height: 260px;
	}

	.who-are-we .mt-2 {
		width: 143px;
		height: 100px;
	}

	.who-are-we .mt {
		width: 143px;
		height: 140px;
		margin-top: -35px;
	}

	.who-are-we .rounded-img {
		top: -72px;
		left: 100px;
	}

	.who-are-we .img-box {
		margin-top: 95px;
	}

	.news-sec {
		margin-top: 100px;
	}

	.who-are-we .img-box .rounded-img img {
		width: 124px;
	}

	.title-text {
		font-size: 27px !important;
	}

	.news-sec .title-text {
		margin: 20px 0 30px 0;
	}

	.news-sec .title-paragrph {
		margin-bottom: 40px;
	}

	.news-sec .slider-box-big .slider-box {
		width: 100%;
	}

	.news-sec .slider-box .info h4 {
		font-size: 19px;
	}

	.news-sec .slider-box .info h6 {
		font-size: 16px;
	}

	.news-sec .slider-box .info p {
		font-size: 13px;
	}

	.news-sec .slider-box-big {
		overflow: inherit;
	}

	.news-sec .media-btn__box {
		display: block;
	}

	.who-are-we .info-box h4 {
		font-size: 16px;
	}

	.who-are-we .info-box p {
		font-size: 13.3px;
	}
		.who-are-we .info-box{
			gap: 25px;
		}
}